<!DOCTYPE html>
<html lang='ko'>
  <head>
    <title>Mail Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:443/default.css">
      <style>
         .mail-rows{
              border-bottom: 1px solid #f1f1f1;
              list-style: none; 
              line-height: 25px; 
              font-size:15px; 
              color: #333;
              overflow: hidden;
         }
         .star{
            float:left;
            margin-right:10px;
            cursor: pointer;
         }
        .envelope{
             float:left;
             margin-right:10px;
             cursor: pointer;
         }
         .input{
            width: 100px;
            float:left;
            
         }
         .subject{
            width: 800px;
             float:left;
         }
         .sender{
            width: 200px;
            float:left;
         }
         .mailSN{
             margin-left:300px;
            width: 200px;
            float:left;
         }
         .pageNum{
            border-top: 1px solid #dadada;
            background-color:  #f2f2f2;
            padding-left: 800px;
            text-align:left;
         }
.addBox{
  width: 80%; /* Full width */
  height:20px;
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.addBoxButton {
  background-color: #f9622e;
  width: 50px;
  height: 20px;
  color: white;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.addBoxButton:hover {
  background-color: grey;
}

/* Add a background color and some padding around the form */
.wrapAddBox {
  margin-top:5px;
  width: 30%;
  border-radius: 5px;
  color:black;
  background-color: #f2f2f2;
  padding: 5px;
} 

.folderSort {
  margin-top:5px;
  width: 60%;
  border-radius: 5px;
  color:black;
  background-color: #f2f2f2;
  padding: 5px;

  line-height: 30px; 
  font-size: 18px; 
  font-weight: 600;
} 

.myMailFolderList{
width: 60%;
border-bottom: 1px solid  #f2f2f2;
list-style: none; 
line-height: 25px; 
font-size:15px; 
color: #333;
overflow: hidden;
}
.fmailNumber{
            width: 10%;
            float:left;
            text-align:center;
}
.fname{
            width: 45%;
            float:left;
 }
.fsize{
            width: 15%;
            float:left;
            text-align:center;

}
.fedit{
            width: 5%;
            float:right;
            cursor: pointer;
            text-align:center;
}
.edit_input{
            width: 20%;
            float:left;
            display:none;
            text-align:center;


}
.fdelete{
            width: 5%;
            float:right;
            cursor: pointer;
            text-align:center;
}
</style>
  </head>
  <body>
        <nav>

                <div class="upperList">
                        <h1 class="logo-title">Mail</h1>

                    </div>
                    <div class="upperList">
                             <a href="/getMail?folderSN=-1&page=1&firstPage=1&IDT=<%=IDT%>"> <p class="home"><i class="fa fa-home"></i></p> </a>
                        </div>
                        <span class = "userInfo" id = <%=IDT%>><%=IDT%>님 접속을 환영합니다.</span>                            
          </nav>
          
      <aside>   
          <div>

            <%folderInfoView.data.folderList.forEach(function(folder){ %>
           
               <%if(folder.folderSN != 2 && folder.folderSN <= 6){ %>
                <div class="mailList">
                      
                            <%if(folder.folderSN != 4 && folder.folderSN != 5){ %>
                                <i class="fa fa-folder"></i>
                                <% } %>
                                <%if(folder.folderSN == 4 || folder.folderSN == 5){ %>
                                    <i class="fa fa-trash"></i>
                                    <% } %>  
                        <a class = "menuText" href="/getMail?folderSN=<%=folder.folderSN %>&page=1&firstPage=1&IDT=<%=IDT%>"><%= folder.folderName%></a>
                        (<%=folder.unreadMailCount %> / <%=folder.mailCount %>)
                       
                </div>
                <% } %>
            <% }); %>
        </div>
        <div class = "line"></div>
            <div class="writeButton">
                    <i class="fa fa-pencil"></i>
                    <a class = "writeMenuText" href="/write/write?IDT=<%=IDT%>">메일쓰기</a>
            </div>
        <div class = "line"></div>  
        <div class="goToMyMail">
            <a href="/myFolder/myFolderList?IDT=<%=IDT%>" class="folderMenuText">나의 메일함</a> 
            <i class="fa fa-hand-o-down" aria-hidden="true" style="margin-left:50px"></i>
    </div> 
    <div id = "showBox">
        <%folderInfoView.data.folderList.forEach(function(folder){ %>
       
            <%if(folder.folderSN > 6){ %>
             <div class="mailList2">
              <i class="fa fa-smile-o" aria-hidden="true"></i> <a class = "menuText2" href="/getMail?folderSN=<%=folder.folderSN %>&page=1&firstPage=1&IDT=<%=IDT%>"><%= folder.folderName%></a>
             </div>
            <% } %>
         <% }); %>
        </div>
  </aside>
      
      <section>
           

          <div class="text">
                <h3>나의 메일함</h3>
          
        </div>
        <div>
                나만의 메일함을 추가/삭제하거나 이름을 변경할 수 있습니다.
                <div class="wrapAddBox">
                        <form>
                            <label for="boxName">메일함 추가(20자 이내)</label>
                                 <input class="addBox" id="boxName" placeholder="추가할 메일함 이름을 입력해주세요">
                          <input class="addBoxButton" id = "clickAddBox" value="추가">
                          </form>
                </div> 
               <div class="folderSort">기본 메일함</div>
                <%folderInfoView.data.folderList.forEach(function(folder){ %>
                    <%if(folder.folderSN <= 6){ %>

                     <div class="myMailFolderList">
                          <div class="fname"><%= folder.folderName%></div>
                          <div class="fmailNumber"><%= folder.unreadMailCount%> / <%= folder.mailCount%></div>
                          <div class="fsize"> <%= folder.usage%> byte</div>
                     </div>
                     <% } %>
                 <% }); %>
                 <div class="folderSort"> 개인 메일 함</div>
                 <%folderInfoView.data.folderList.forEach(function(folder){ %>
                    <%if(folder.folderSN > 6){ %>
                        <% var folderNumber = Number(folder.folderSN); %>

                     <div class="myMailFolderList">
                          <div class="fname"><%= folder.folderName%></div>
                          <div class="fmailNumber"><%= folder.unreadMailCount%> / <%= folder.mailCount%></div>
                          <div class="fsize"> <%= folder.usage%> byte</div>
                          
                          <div class="edit_input">
                              <input type="text" style="width:100px"> 
                              <input type="button" class = "editButton" style="width:40px" value="변경">
                          </div>
                          
                          <div class="fdelete" id="<%=folderNumber %>">
                                <i class="fa fa-ban" aria-hidden="true"></i> 
                          </div>
                         
                          <div class="fedit">
                              <i class="fa fa-wrench" aria-hidden="true"></i> 
                         </div>
                     </div>
                     <% } %>
                 <% }); %>
        </div>        
 
      </section>
      <nav></nav>
  </body>
  <script src="http://localhost:443/myFolderList.js">
      
  </script>
</html>